<div class="content-show-prod">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="images-product-main">
          <% pictures_array = @product.pictures.split(", ") %>
          <%= image_tag "#{pictures_array[0]}.jpg", class:"main-pic" %>
        </div>
        <div class="images-product-all">
          <% pictures_array[1..3].each do |picture|  %>
            <%= image_tag "#{picture}.jpg", class:"all-pic" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="text-content">
          <div class="title-product">
            <h1><%= @product.name %></h1>
          </div>
          <div class="description-product">
            <p><%= @product.description %></p>
          </div>
          <div class="category-product">
            <p>Ce produit appartient à la catégorie <%= @product.category.name %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
